<div class="row py-5">
    <h4>Booking History</h4>
</div>
<div class="py-3">
    <div class="row ">
        <div class="form col-md-12">
            <div class="form-group">
                <div class="row ">
                    <!-- <div class="form-group col-md-4">
                        <input class="form-control" [(ngModel)]="emailId" type="text" placeholder="Enter Email" />
                    </div>
                    <div class="form-group col-md-4">
                        <button type="submit" (click)="getBookingHistoryByEmail()" class="btn btn-primary">View Bookings
                            </button>
                    </div>                 -->
                    <div class="form-group col-md-6">
                       <input class="form-control" [(ngModel)]="pnr" type="text" placeholder="PNR Number" />
                    </div>
                    <div class="form-group col-md-6">
                        <button type="submit" (click)="getBookingHistoryByPnr()" class="btn btn-primary">PNR History</button>
                    </div>
                </div>         
                <!-- <div class="row ">
                    <div class="form-group col-md-4">
                       <input class="form-control" [(ngModel)]="pnr" type="text" placeholder="PNR Number" />
                    </div>
                    <div class="form-group col-md-4">
                        <button type="submit" (click)="cancelBooking()" class="btn btn-danger">Cancel Booking</button>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>
<div class="py-5" *ngIf="isBookingHistoryRequired">
    <div class="row ">
        <div class="form col-md-12">
            <div class="form-group">
                <table class="table table-success table-striped ">
                    <thead>
                        <tr>
                            <th scope="col">PNR</th>
                            <th scope="col">User Name</th>
                            <th scope="col">Flight No</th>
                            <th scope="col">Passenger Name</th>
                            <th scope="col">Passenger Age</th>
                            <th scope="col">Passenger Gender</th>
                            <th scope="col">Departure Date</th>
                            <th scope="col">Return Date</th>
                            <th scope="col">No Of Seats available</th>
                            <th scope="col">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let obj of bookingHistoryDetailsArray">
                            <td>{{obj.pnr}}</td>
                            <td>{{obj.userName}}</td>
                            <td>{{obj.flightNo}}</td>
                            <td>{{obj.psngrName}}</td>
                            <td>{{obj.psngrAge}}</td>
                            <td>{{obj.psngrGender}}</td>
                            <td>{{obj.departureTime}}</td>
                            <td>{{obj.arrivalTime}}</td>
                            <td>{{obj.noofPassengers}}</td>
                            <td>{{obj.price}}</td>
                            <td>
                                <button type="button" class="btn btn-primary" (click)="cancelBooking()">cancel Booking</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>