<!-- <div class="container pt-5 pb-4">
    <div class="row ">
        <div class="form col-md-12">
            <div class="form-group">
                <div class="row" style="height: 50px;">
                    <div class="col-md-3">
                        <label>Flight No: {{userFlightData.flightNo}}</label>
                    </div>
                    <div class="col-md-3">
                        <label>Flight Name: {{userFlightData.flightName}}</label>
                    </div>
                    <div class="col-md-3">
                        <label>From: {{userFlightData.fromLocation}}</label>
                    </div>
                    <div class="col-md-3">
                        <label>To: {{userFlightData.toLocation}}</label>
                    </div>
                </div>
                <div class="row" style="height: 50px;">

                    <div class="col-md-3">
                        <label>Departure Date: {{userFlightData.departureDateTime}}</label>
                    </div>
                    <div class="col-md-3">
                        <label>Arrival Date: {{userFlightData.arrivalDateTime}}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="container py-1">
    <div class="row ">
        <div class="form col-md-12">
            <div class="form-group">
                <div class="row">
                    <table class="table table-success table-striped ">
                        <thead>
                            <tr >
                                <th scope="col">Passenger Name</th>
                                <th scope="col">Age</th>
                                <th scope="col">Select Seat</th>
                                <th scope="col">Gender</th>
                                <th scope="col">AddPsngr</th>
                                <th scope="col">RemovePsngr</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let dynamic of passengerArray; let i = index;">
                                <td>
                                    <input [(ngModel)]="passengerArray[i].psngrName" class="form-control" type="text" />
                                </td>
                                <td>
                                    <input [(ngModel)]="passengerArray[i].psngrAge" class="form-control" type="text" />
                                </td>
                                <td>
                                    <!-- <input [(ngModel)]="passengerArray[i].passengerGender" class="form-control"
                                          type="text" /> --> 
                                       <select class="form-select form-control" [(ngModel)]="passengerArray[i].psngrSeatNo"
                                            aria-label="Default select example" placeholder="Select Seat">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select>
                                    </td>
                                <td>
                                <!-- <input [(ngModel)]="passengerArray[i].passengerGender" class="form-control"
                                      type="text" /> --> 
                                   <select class="form-select form-control" [(ngModel)]="passengerArray[i].psngrGender"
                                        aria-label="Default select example" placeholder="Select Gender">
                                        <option value="M">Male</option>
                                        <option value="F">Female</option>
                                        <option value="O">Other</option>
                                    </select>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary" (click)="addRow(i)">Add</button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-warning" (click)="deleteRow(i)">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="row col-md-12">
                        <button type="submit" (click)="bookFlight()" class="btn btn-primary">Book Flight</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 